$tablet-1: 836px;
$mobile-1: 516px;
$chat-border: 30px;
$scroll-bar: 17px;
$avatar-width: 40px;
$message-height: 40px;
$submit-height: 50px;

.efc-pnl {
  border-right: 0px;
  color: white;
  display: block;
  margin: 0 $chat-border;
  min-width: 260px;
  position: relative;
  width: 75vw;
  /* M E S S A G E S */

  .cht {
    background: none;
    list-style: none;
    margin-bottom: 10px;
    margin: 0;
    max-height: 60vh;
    overflow-y: scroll;
    padding: 0 0 50px 0;
    li {
      display: block;
      min-height: $message-height;
      overflow: hidden;
      padding: 0.5rem;
      position: relative;
    }
    .ava {
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      display: inline-block;
      height: $avatar-width;
      vertical-align: text-top;
      position: relative;
      width: $avatar-width;
      z-index: 2;
    }
    .ava img {
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      height: 40px;
      width: 40px;
    }
  }

  .oth {
    .msg {
      background-color: grey;
      margin-left: 10px;
    }
  }

  .slf {
    text-align: right;
    .msg {
      background-color: grey;
    }
  }

  .msg {
    text-align: left;
    border-radius: 2px;
    display: inline-block;
    min-width: 50px;
    max-width: 60%;
    padding: 10px;
    top:0;
    p {
      font-size: 0.8rem;
      margin: 0 0 0.2rem 0;
      word-wrap: break-word;
    }
    img {
      border-radius: 5px;
      cursor: default;
      display: block;
      position: relative;
      transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
      width: 450px;
    }
    time {
      cursor: default;
      float: right;
      font-size: 0.7rem;
      margin-top: 3px;
    }
    time:before{
      color: white;
      content:"\f017";
      display: inline-block;
      font-family: FontAwesome;
      margin-right: 4px;
    }
  }

  /* T Y P E */

  .subm {
    border: none;
    bottom: 2px;
    height: $submit-height;
    left: 0;
    outline: none;
    position: absolute;
    resize: none;
    width: calc(75vw - #{$scroll-bar});
    z-index: 99;

    textarea {
      height: 100%;
      position: absolute;
      resize: none;
      border: none;
      width: calc(100% - 90px);
    }

    .but {
      background-color: grey;
      border: none;
      color: white;
      cursor: pointer;
      display: block;
      font-size: 16px;
      height: 100%;
      line-height: $submit-height;
      margin: 0;
      padding: 0 20px;
      position: absolute;
      right: 0;
      top: 52%;
      transform: translate(0, -50%);
      z-index: 100;
    }
  }

  @media screen and (max-width: 800px) {
    .msg img {
      width: 300px;
    }
  }
  @media screen and (max-width: 550px) {
    .msg img {
      width: 200px;
    }
  }

  @media (max-width: $tablet-1){
    .subm {
      width: calc( 100% - #{$scroll-bar});
    }
  }
}

@media (max-width: $tablet-1){
  .efc-pnl {
    width: calc(100% - #{$chat-border} * 2);
  }
}