$tablet-1: 836px;
$mobile-1: 516px;
$chat-border: 30px;
$scroll-bar: 17px;
$avatar-width: 40px;
$message-height: 40px;
$submit-height: 50px;

.efc-pnl {
  display: block;
  min-width: 260px;
  position: relative;

  /* M E S S A G E S */
  .cht {
    background: none;
    list-style: none;
    margin: 0 0 10px 0;
    overflow-y: scroll;
    padding: 0;
    li {
      display: block;
      min-height: $message-height;
      overflow: hidden;
      padding: 10px 0;
      position: relative;
    }
    .ava {
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      display: inline-block;
      height: $avatar-width;
      vertical-align: top;
      position: relative;
      width: $avatar-width;
      img {
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        height: 40px;
        width: 40px;
      }
    }
  }

  .oth {
    .msg {
      margin-left: 10px;
    }
  }

  .slf {
    text-align: right;
  }

  .msg {
    display: inline-block;
    max-width: 60%;
    margin-right: 10px;
    min-width: 50px;
    text-align: left;
    top: 0;
    p {
      font-size: 1em;
      margin: 0;
      word-wrap: break-word;
    }
    img {
      border-radius: 5px;
      cursor: default;
      display: block;
      position: relative;
      transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
      width: 450px;
    }
    time {
      cursor: default;
      font-size: 0.8em;
    }
  }

  /* T Y P E */

  .subm {
    border: none;
    height: $submit-height;
    outline: none;
    resize: none;
    width: 100%;
    z-index: 99;

    textarea {
      border: none;
      display: inline-block;
      height: calc( #{$submit-height} - 20px);
      padding: 10px;
      resize: none;
      width: calc(100% - 111px);
    }

    .but {
      border: none;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      line-height: $submit-height;
      margin: 0;
      padding: 0 20px;
      vertical-align: top;
    }
  }

}
